<header class="banner banner--cta">
  <div class="banner__wrapper">
    <h1 class="banner__title">Courses by Antares Programming</h1>
    <!--h2 class="banner__subtitle">Mula sa Courses by Antares Programming</h2-->
    <p>Simple. Madaling intindihin. Matuto sa mga course tungkol sa Web development.<br><strong>Lahat sa Tagalog.</strong></p>
    <div class="banner-actions">
      <a class="btn" href="/blog/blog-courses-antares-programming/">Learn More</a>
      <a class="btn btn--primary" href="/courses/">Tingnan ang Courses <svg style="margin: 0; margin-left: 0.5ch;" height='16' width='16' xmlns='http://www.w3.org/2000/svg'><g color='currentColor' transform='translate(-313 3)'><path d='M321 10.676l7.001-6.192-7-6.16V2H315v5h6z' fill='currentColor' overflow='visible' style='marker:none'/></g></svg></a>
    </div>
  </div>
  {% include svg/cover.svg %}
</header>
