<footer>
    <p class="copyright">
      &copy; 2020 Antares Programming
    </p>
    <section class="footer__section">
      <h3 class="footer__section__title">About</h3>
      <nav>
      <ul>
        <li><a href="/about/">About Antares Programming</a></li>
        <li><a href="/about/contact/">Contact Us</a></li>
        <li><a href="/about/donations-sponsors/">Donations and Sponsors</a></li>
        <li><a href="/about/collaborations/">Collaborations</a></li>
        <li><a href="https://celestialcinnamon.github.io/antares-blog" target="_blank" rel="noopener noreferrer">Visit the old blog</a></li>
      </ul>
      </nav>
    </section>
    <section class="footer__section">
      <h3 class="footer__section__title">Social Media</h3>
      <nav>
      <ul>
        <li><a href="https://facebook.com/antaresprogramming" target="_blank" rel="noopener noreferrer">Facebook</a></li>
        <li><a href="https://twitter.com/antaresphdev" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        <li><a href="https://instagram.com/antaresphdev" target="_blank" rel="noopener noreferrer">Instagram</a></li>
        <li><a href="https://youtube.com/" target="_blank" rel="noopener noreferrer">Youtube</a></li>
      </ul>
      </nav>
    </section>
</footer>

