<header>
  <nav class="primary">
    <ul>
      <li><a href="{{ site.baseurl }}/" class="logomark" target="_self">
        {% include svg/logomark.svg %}
      </a></li>
        <li><a href="{{ site.baseurl }}/">Antares Programming</a></li>
    </ul>

    <ul>
      <li><a href="{{ site.baseurl }}/">Blog</a></li>
      <li><a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">
        <span class="visually-hidden">RSS Feed</span>
        {% include svg/rss-square.svg %}
      </a></li>

      <li><a href="https://www.facebook.com/antaresprogramming" target="_blank" rel="noopener" title="Facebook">
        <span class="visually-hidden">Facebook</span>
        {% include svg/facebook.svg %}
      </a></li>

      <li><a href="https://twitter.com/antaresphdev" target="_blank" rel="noopener" title="Twitter">
        <span class="visually-hidden">Twitter</span>
        {% include svg/twitter.svg %}
      </a></li>

      <li><a href="https://instagram.com/antaresphdev" target="_blank" rel="noopener" title="Slack">
        <span class="visually-hidden">Instagram</span>
        {% include svg/slack.svg %}
      </a></li>
    </ul>
  </nav>
</header>
