<header>
  <nav class="primary">
    <ul>
      <li><a href="https://elementary.io" class="logomark" target="_self">
        {% include svg/logomark.svg %}
      </a></li>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
    </ul>
<! -- use this list for login signup bookmark items etc -->
    <ul>
    </ul>
  </nav>
  <nav class="secondary">
    <a href="{{ site.baseurl }}/tags/#updates">OS Updates</a>
    <a href="{{ site.baseurl }}/tags/#appcenter">AppCenter</a>
    <a href="{{ site.baseurl }}/tags/#devs">Developers</a>
    <a href="{{ site.baseurl }}/tags/#design">Design</a>
  </nav>
</header>
