<aside class="notice notice--donation">
  <img src="/images/coffee.png" width="666" height="473">
  <small class="attribution">Source: <a href="https://glazestock.com">glazestock.com</a><br>Illustrated by Nermin</small>
  <div class="notice__wrapper">
      <h2>Support Us</h2>
      <p>Libre ang lahat ng resources na pino-provide ng Antares Programming. Pero hindi rin biro ang trabaho ng developer nito (kape na lang ang bumubuhay sa kaniya). Gusto mo ba kaming tulungan? Puwede kang mag-donate sa amin!</p>
      <a href="/about/mag-donate/" class="btn btn--accent">Learn more</a>
  </div>
</aside>
