<script>
  // Makes figure images focusable for zooming
  let figureImages = document.querySelectorAll ("figure img");
  figureImages.forEach (function (figureImage) {
    figureImage.setAttribute ("tabindex", -1);
    document.addEventListener ('mousedown', event => {
      if (document.activeElement === figureImage) {
        // Prevent it from triggering on focusIn
        setTimeout (function () {
          document.activeElement.blur ();
        }, 100);
      }
    });
  });
  
  // enable focusability for abbr elements with title attribute
  document.querySelectorAll("*:not([data-glossary-term]) > abbr[title]")
          .forEach(abbr => abbr.setAttribute('tabindex', -1))
          
  // add visual indicator for glossary entries
  const svg = `{% include svg/accessories-dictionary.svg %}`
  const glossaryEntries = document.querySelectorAll('a[data-glossary-term]')
  glossaryEntries.forEach(entry => {
    const popover = `<div aria-hidden="true" class="glossary-entry--popover">
    <b>${svg}${entry.dataset.glossaryTerm}</b>
    <p>HyperText Markup Language. Ang pangunahing programming language ng Web. Ginagamit ito para sabihin sa browser ang purpose at meaning ng content. Inimbento ito ni Tim Berners-Lee kasabay ng pag-imbento niya sa World Wide Web.</p>
  </div>`
    const initialHTML = entry.innerHTML
    entry.innerHTML = `${svg}
${initialHTML} ${popover}`
  })
  
  // remove link actions on glossary-entry-links
  document.body.addEventListener('click', e => {
      const link = e.target
      if(link.matches('.glossary-entry-link[data-glossary-term]')) {
          e.preventDefault();
      }
  })
</script>

