{% unless page.thanks %}
<div class="thanks">
  <hr/>

  <p>Thanks to our supporters, backers, and customers! Your contributions make elementary possible.</p>

  <div class="links">
    <a
      href="https://elementary.io/"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="elementary downloads"
    >
      {% include svg/elementary.svg %}
    </a>

    <a
      href="https://appcenter.elementary.io"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="AppCenter"
    >
      {% include svg/appcenter.svg %}
    </a>

    <a
      href="https://www.patreon.com/elementary"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="Patreon"
    >
      {% include svg/patreon.svg %}
    </a>

    <a
      href="https://www.paypal.me/elementary"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="Paypal"
    >
      {% include svg/paypal.svg %}
    </a>

    <a
      href="https://elementary.io/store/"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="elementary merch store"
    >
      {% include svg/shopping-cart.svg %}
    </a>
  </div>

  <p>If you’d like to help improve elementary OS, don’t hesitate to <a href="https://elementary.io/get-involved">Get Involved</a>!</p>

</div>

{% endunless %}
