{% unless page.thanks %}
<div class="thanks">
  <hr/>

  <h2>Thank You</h2>
  <p>Thanks to all of our supporters, backers, and customers! Your contributions make elementary possible. If you’d like to help build and improve elementary OS, don’t hesitate to <a href="https://elementary.io/get-involved" onclick="plausible('Link: Get Involved')">Get Involved</a>.</p>

  <div class="links">
    <a
      href="https://elementary.io/"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="elementary downloads"
      onclick="plausible('Link: Homepage')"
    >
      {% include svg/elementary.svg %}
    </a>

    <a
      href="https://appcenter.elementary.io"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="AppCenter"
      onclick="plausible('Link: AppCenter')"
    >
      {% include svg/appcenter.svg %}
    </a>

    <a
      href="https://github.com/sponsors/elementary"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="GitHub"
      onclick="plausible('Link: GitHub Sponsors')"
    >
      {% include svg/github.svg %}
    </a>

    <a
      href="https://www.patreon.com/elementary"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="Patreon"
      onclick="plausible('Link: Patreon')"
    >
      {% include svg/patreon.svg %}
    </a>

    <a
      href="https://www.paypal.me/elementary"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="Paypal"
      onclick="plausible('Link: Paypal')"
    >
      {% include svg/paypal.svg %}
    </a>

    <a
      href="https://elementary.io/store/"
      rel="noreferrer nofollow noopener"
      target="_blank"
      title="elementary merch store"
      onclick="plausible('Link: Store')"
    >
      {% include svg/shopping-cart.svg %}
    </a>
  </div>
</div>
{% endunless %}

<div class="sponsor">
  {% if page.sponsor.name %}
      {% if page.sponsor.link && page.sponsor.image %}
        <a href="{{ page.sponsor.link }}" rel="noreferrer nofollow noopener" target="_blank">
      {% endif %}
      {% if page.sponsor.image %}
        <img
          src="{{ page.sponsor.image }}"
          alt="{{ page.sponsor.name }}"
          {% if page.sponsor.image-2x %}
            srcset="{{ page.sponsor.image-2x }} 2x"
          {% endif %}
          class="constrained"
        />
      {% endif %}
      {% if page.sponsor.link  && page.sponsor.image %}</a>{% endif %}

      <p>We'd like to specially thank
      {% if page.sponsor.link %}
        <a href="{{ page.sponsor.link }}" rel="noreferrer nofollow noopener" target="_blank">
      {% endif %}{{ page.sponsor.name }}{% if page.sponsor.link %}</a>{% endif %} for <a href="{{ site.sponsor_inquiry }}" rel="noreferrer nofollow noopener" target="_blank">sponsoring</a> this blog post and supporting our work. {% if page.sponsor.hook %}{{ page.sponsor.hook }}{% endif %}</p>
  {% else %}
    <p>We’re <a href="{{ site.sponsor_inquiry }}" rel="noreferrer nofollow noopener" target="_blank">accepting limited sponsors</a> for the elementary Blog. View our <a href="{{ site.analytics }}" rel="noreferrer nofollow noopener" target="_blank">public analytics</a> and <a href="{{ site.sponsor_inquiry }}" rel="noreferrer nofollow noopener" target="_blank">learn more</a> if you are interested.</p>
  {% endif %}
</div>
