{% assign profile = include.account | prepend: "https://twitter.com/" %}
{% assign permalink = include.id | prepend: "/status/" | prepend: profile %}

<div class="twitter-card">
  <header>
    <a class="account" href="{{ profile }}">
      <img class="avatar" src="{{ include.avatar }}" />
      <strong>{{ include.name }}</strong>
      <p>@{{ include.account }}</p>
    </a>
    <a href="{{ permalink }}">
      <img class="logo" src="/images/twitter.svg" />
    </a>
  </header>

  <p>{{ include.contents }}</p>

  <footer>
    <a href="{{ permalink }}">
      <span>View on Twitter →</span>
      <time datetime="{{ include.timestamp | date:"%Y-%m-%d" }}">{{ include.timestamp | date: "%b %e, %Y" }}</time>
    </a>
  </footer>
</div>
