{% assign profile = include.account | prepend: "https://twitter.com/" %}
{% assign permalink = include.id | prepend: "/status/" | prepend: profile %}

<div class="twitter-card">
  <header>
    <a class="account" href="{{ profile }}">
      {% assign prefix = include.avatar | slice: 0, 4 %}
      {% if prefix == "http" %}
        {% assign avatar = include.avatar %}
      {% else %}
        {% assign avatar = include.avatar | prepend: site.baseurl %}
      {% endif %}
      <img class="avatar" src="{{ avatar }}" />
      <strong>{{ include.name }}</strong>
      <p>@{{ include.account }}</p>
    </a>
    <a href="{{ permalink }}">
      <img class="logo" src="{{ site.baseurl }}/images/twitter.svg" />
    </a>
  </header>

  <p>{{ include.contents }}</p>

  {% if include.image %}
    <a href="{{ permalink }}">
      {% assign prefix = include.image | slice: 0, 4 %}
      {% if prefix == "http" %}
        {% assign image = include.image %}
      {% else %}
        {% assign image = include.image | prepend: site.baseurl %}
      {% endif %}
      <img src="{{ image }}" />
    </a>
  {% elsif include.video %}
    {% assign prefix = include.video | slice: 0, 4 %}
    {% if prefix == "http" %}
      {% assign video = include.video %}
    {% else %}
      {% assign video = include.video | prepend: site.baseurl %}
    {% endif %}
    <video width="600" controls loop>
      <source src="{{ video }}" type="video/mp4">
    </video>
  {% endif %}

  <footer>
    <a href="{{ permalink }}">
      <span>View on Twitter →</span>
      <time datetime="{{ include.timestamp | date:"%Y-%m-%d" }}">{{ include.timestamp | date: "%b %e, %Y" }}</time>
    </a>
  </footer>
</div>
