.banner {
	background-color: var(--bg-color);
	color: var(--fg-color-emphasis);
	min-height: 50vh;
	display: grid;
	align-items: center;
	justify-content: center;
	
	&.banner--cta {
	    display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    height: calc(90vh - 1rem);
	    
	    .banner__wrapper {
	      grid-column: 1/3;
	      grid-row: 1/3;
	      z-index: 1;
	      
	      .banner-actions {
	        display: flex;
	        gap: 1rem;
	        flex-wrap: wrap;
	        margin-top: 2rem;
	        
	        .btn {
	          padding: 1rem;
          }
        }
      }
      
      & > svg {
	      grid-column: 2/4;
	      grid-row: 2/3;
	      height: 30vw;
	      margin-left: auto;
	      margin-right: -5vw;
      }
    }
}

.banner__wrapper {
	max-width: calc(var(--content-width) * 2);
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.banner__title {
	margin: 0;
	font-size: calc(2rem + 1vw);
	padding-bottom: 0.05rem;
	background-image: linear-gradient(
	    to right,
	    var(--banana-300),
	    var(--banana-300) 60px,
	    var(--strawberry-100) 60px,
	    var(--strawberry-100) 120px,
	    var(--blueberry-100) 120px,
	    var(--blueberry-100) 180px,
	    var(--lime-100) 180px,
	    var(--lime-100) 240px,
	    transparent 240px);
	background-size: 100% 5px;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.banner__subtitle {
	order: -1;
	margin: 0;
	margin-bottom: 0.25rem;
	font-size: 1rem;
	text-transform: uppercase;
}
