.btn {
	background-color: #0001;
	padding: 0.5ch 1ch;
	text-decoration: none;
	border-radius: 0.25rem;
	border: 1px solid #0002;
	opacity: 1;
	box-shadow: 0 1px 3px #0002;
	color: var(--secondary-fg-color);
	font-size: 0.9em;
	white-space: nowrap;
	transition: background-color 300ms, box-shadow 300ms;

  &:hover {
	  background-color: #0d52bf33;
	  box-shadow: 0 5px 10px #0003;
  }
  
  &:focus {
	  box-shadow: 0 5px 10px 4px #0003, 0 0 0 4px var(--accent-color);
  }
  
  svg {
	  display: inline;
	  margin-right: 0.5ch;
  }
  
  &.btn--preferred {
    background-color: var(--banana-100);
    border-color: var(--banana-300);
    color: var(--header-fg-color);
  }
  
  &.btn--primary {
	  background-color: var(--banana-300);
	  color: var(--header-fg-color);
	  background-image: linear-gradient(-130deg, var(--banana-300), var(--orange-300));
	  box-shadow: 0 5px 20px var(--orange-100);
	  border: none;
	  
	  &:hover, &:focus {
	    box-shadow: 0 10px 30px var(--orange-500);
    }
    
    &:active {
      box-shadow: 0 3px 5px var(--orange-100);
      transition: box-shadow 50ms;
    }
  }
  
  &.btn--accent {
	background-color: var(--accent-color);
	color: var(--bg-color);
  }
}

@media (prefers-color-scheme: dark) {
  .btn {
    background-color: #ffffff0a;
    border-color: #0008;
    box-shadow: 0 1px 3px #0004;
    
    &:hover {
	    box-shadow: 0 5px 10px #0005;
    }
    
    &:focus {
	    box-shadow: 0 5px 10px 4px #0005, 0 0 0 4px var(--accent-color);
    }
    
    &.btn--primary {
      box-shadow: 0px 3px 10px #530;
      
      &:hover {
        box-shadow: 0 10px 30px #410a
      }
      
      &:focus {
        box-shadow: 0 0 0 5px var(--banana-300), 0 10px 30px 5px #410a;
      }
    }
  }
}

abbr[title] {
  position: relative;
  cursor: pointer;
}


abbr[title]::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: var(--banana-100);
	border: 1px solid var(--banana-500);
	border-radius: 0.25rem;
	text-indent: 0;
	font-size: 0.8em;
	line-height: 1.1;
	padding: 0.25rem;
	opacity: 0;
	transition: opacity 300ms, top 300ms;
	transform: translateY(-50%);
}

abbr:focus::after {
  opacity: 1;
  top: -1.75rem;
}

abbr[title]::after {
  content: attr(title)
}

abbr[title]:hover::before {
  opacity: 1;
  top: -0.25rem
}

abbr[title] {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 0.15rem;
	text-decoration-line: underline;
	text-decoration-color: var(--blueberry-500);
	transition: text-decoration-color 300ms;
}

abbr[title]:hover {
    text-decoration-color: var(--blueberry-700)
}

article a:not([class]) {
  --link-indicator-color: var(--accent-color);
	color: var(--link-indicator-color);
	opacity: 1;
	border-radius: 0.25rem;
}

article a[target=_blank] {
	padding-right: 1rem;
	background-image: radial-gradient(var(--link-indicator-color), var(--link-indicator-color) 75%, transparent 75%);
	background-size: 0.5rem 0.5rem;
	background-repeat: no-repeat;
	background-position: top 0.25rem right 0.25rem;
	position: relative;
}
