.btn {
	background-color: #0001;
	padding: 0.5ch 1ch;
	text-decoration: none;
	border-radius: 0.25rem;
	border: 1px solid #0002;
	opacity: 1;
	box-shadow: 0 1px 3px #0002;
	color: var(--secondary-fg-color);
	font-size: 0.9em;
	white-space: nowrap;
	transition: background-color 300ms, box-shadow 300ms;

  &:hover {
	  background-color: #0d52bf33;
	  box-shadow: 0 5px 10px #0003;
  }
  
  &:focus {
	  box-shadow: 0 5px 10px 4px #0003, 0 0 0 4px var(--accent-color);
  }
  
  svg {
	  display: inline;
	  margin-right: 0.5ch;
  }
  
  &.btn--preferred {
    background-color: var(--banana-100);
    border-color: var(--banana-300);
    color: var(--header-fg-color);
  }
  
  &.btn--primary {
	  background-color: var(--banana-300);
	  color: var(--header-fg-color);
	  background-image: linear-gradient(-130deg, var(--banana-300), var(--orange-300));
	  box-shadow: 0 5px 20px var(--orange-100);
	  border: none;
	  
	  &:hover, &:focus {
	    box-shadow: 0 10px 30px var(--orange-500);
    }
    
    &:active {
      box-shadow: 0 3px 5px var(--orange-100);
      transition: box-shadow 50ms;
    }
  }
  
  &.btn--accent {
	background-color: var(--accent-color);
	color: var(--bg-color);
  }
}

@media (prefers-color-scheme: dark) {
  .btn {
    background-color: #ffffff0a;
    border-color: #0008;
    box-shadow: 0 1px 3px #0004;
    
    &:hover {
	    box-shadow: 0 5px 10px #0005;
    }
    
    &:focus {
	    box-shadow: 0 5px 10px 4px #0005, 0 0 0 4px var(--accent-color);
    }
    
    &.btn--primary {
      box-shadow: 0px 3px 10px #530;
      
      &:hover {
        box-shadow: 0 10px 30px #410a
      }
      
      &:focus {
        box-shadow: 0 0 0 5px var(--banana-300), 0 10px 30px 5px #410a;
      }
    }
  }
}

abbr[title] {
  position: relative;
  cursor: pointer;
}


abbr[title]::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: var(--banana-100);
	border: 1px solid var(--banana-500);
	border-radius: 0.25rem;
	text-indent: 0;
	font-size: 0.8em;
	line-height: 1.1;
	padding: 0.25rem;
	opacity: 0;
	transition: opacity 300ms, top 300ms;
	transform: translateY(-50%);
}

abbr:focus::after {
  opacity: 1;
  top: -1.75rem;
}

abbr[title]::after {
  content: attr(title)
}

abbr[title]:hover::before {
  opacity: 1;
  top: -0.25rem
}

abbr[title] {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 0.15rem;
	text-decoration-line: underline;
	text-decoration-color: var(--blueberry-500);
	transition: text-decoration-color 300ms;
}

abbr[title]:hover {
    text-decoration-color: var(--blueberry-700)
}

article a:not([class]) {
  --link-indicator-color: var(--accent-color);
	color: var(--link-indicator-color);
	opacity: 1;
	border-radius: 0.25rem;
}

article a[target="_blank"] {
	padding-right: 0.6rem;
	background-image: radial-gradient(var(--link-indicator-color), var(--link-indicator-color) 75%, transparent 75%);
	background-size: 0.3rem 0.3rem;
	background-repeat: no-repeat;
	background-position: top 0.25rem right 0.25rem;
	position: relative;
}

.checkpoint {
  padding: 1rem;
  
  &__header {
    background-color: #fd0;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    gap: 0.5rem;
    
    .checkpoint__title {
      margin: 0;
      font-size: 0.8rem;
      font-family: 'Inter', sans-serif;
      text-transform: uppercase;
    }
  }
  
  &__content {
    background-color: #fd02;
    margin: 0;
    padding: 1rem;
    border: 1px solid #fd0;
    border-radius: 0.25em;
    border-top-left-radius: 0.25em;
  }
  
  &__question {
    margin: 0;
    padding: 0 0.5rem;
    font-weight: bold;
  }
  
  @media screen and (min-width: 400px) {
      &__choices {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));


      .btn--checkpoint {
        justify-self: stretch;
        align-self: stretch;
      }
    }
  }
  
  &.correct {
    .btn[data-correct-answer] {
      border: 1px solid #00C853;
      background-color: #B9F6CA;
      opacity: 1;
    }
    
    .btn {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  
  &.wrong {
    .btn.wrong {
      border: 1px solid #FF1744;
      background-color: #FF8A80;
    }
  }
  
  &:not(.correct) ~ * {
    opacity: 0.25;
    transition: opacity 300ms;
  }
  
  .feedback {
    opacity: 0;
    pointer-events: none;
    
    &--correct {
      color: #2E7D32;
      border: 1px solid #2E7D32;
      background-color: #69F0AE;
    }
    
    &--wrong {
      color: #C62828;
      border: 1px solid #FF1744;
      background-color: #FFCDD2;
    }
  }
  
  footer {
    display: grid;
    
    .feedback {
      grid-column: 1/2;
      grid-row: 1/2;
      max-width: none;
      padding: 0.5rem;
      margin: 1rem;
      position: relative;
      top: -2rem;
      
      transition: top 300ms, opacity 300ms;
    }
  }
  
  .btn {
    border: 0;
    font-size: 0.9rem;
    padding: 0.5em;
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid #0001;
    box-shadow: 0 3px 10px #0002;
    cursor: pointer;
    white-space: revert;
    transition: background 300ms, box-shadow 300ms;

    &:focus,
    &:hover {
      background-color: #ddd;
      background-color: var(--btn-hover)
    }

    &:focus {
      box-shadow:
        0 0 0 3px dodgerblue,
        0 3px 10px 3px #0002;
    }

    &:active {
      box-shadow: 0 0 5px #0003;
      transition: box-shadow 30ms;
    }

    &--checkpoint {
      display: block;
      margin: 0.5rem;
      background-color: #fd05;
      border-color: #fd0c;
      box-shadow: none;

      --btn-hover: #fd0;

      &:focus {
        box-shadow: 0 3px 10px #0002;
      }
    }
  }
}

.checkpoint.correct:focus-within .feedback--correct,
.checkpoint.wrong:focus-within .feedback--wrong {
  opacity: 1;
  pointer-events: auto;
  top: 1rem;
}
