.btn {
	background-color: var(--blueberry-300);
	color: var(--blueberry-900);
	border-radius: 0.25rem;
	padding: 0.5rem;
	border: 1px solid var(--blueberry-700);
	box-shadow: inset 0 1px 2px #fff, 0 1px 1px #0002, inset 0 -1px 4px var(--blueberry-500);
	font-size: 0.8em;
	transition: color 300ms, background-color 300ms, border-color 300ms, box-shadow 300ms;
	cursor: pointer;
	opacity: 1;
	text-decoration: none;
}

.btn:hover {
	opacity: 1;
	background-color: var(--banana-100);
	color: var(--banana-900);
	border-color: var(--banana-900);
	box-shadow: inset 0 1px 2px #fff, 0 1px 1px #0002, inset 0 -1px 4px var(--banana-500);
}

.btn:focus {
	outline: none;
	box-shadow: inset 0 1px 2px #fff, 0 1px 0 5px var(--blueberry-100), inset 0 -1px 4px var(--blueberry-500);
}

.btn:hover:focus {
	box-shadow: inset 0 1px 2px #fff, 0 1px 0 5px var(--banana-500), inset 0 -1px 4px var(--banana-500);
}

.lesson__actions .btn:not(.btn--primary) {
  background-color: var(--silver-100);
  border-color: var(--silver-700);
  color: var(--silver-900);
  box-shadow: none;
}

.lesson__actions .btn:not(.btn--primary):hover {
	background-color: var(--silver-500);
	border-color: var(--silver-900);
	color: var(--black-500);
	box-shadow: inset 0 1px 2px #fff, 0 1px 1px #0002, inset 0 -1px 4px var(--black-100);
}

.lesson__actions .btn:not(.btn--primary):focus {
	box-shadow: inset 0 1px 2px #fff, 0 0 1px 5px var(--blueberry-300), inset 0 -1px 4px var(--blueberry-500);
	background-color: var(--blueberry-100);
	color: var(--blueberry-900);
	border-color: var(--blueberry-900);
}

.lesson__actions .btn:not(.btn--primary):hover:focus {
	background-color: var(--banana-100);
	color: var(--banana-900);
	border-color: var(--banana-900);
	box-shadow: inset 0 1px 2px #fff, 0 0 1px 5px var(--banana-300), inset 0 -1px 4px var(--banana-500);
}

abbr[title] {
  position: relative;
  cursor: pointer;
}


abbr[title]::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: var(--banana-100);
	border: 1px solid var(--banana-500);
	border-radius: 0.25rem;
	text-indent: 0;
	font-size: 0.8em;
	line-height: 1.1;
	padding: 0.25rem;
	opacity: 0;
	transition: opacity 300ms, top 300ms;
	transform: translateY(-50%);
}

abbr:focus::after {
  opacity: 1;
  top: -1.75rem;
}

abbr[title]::after {
  content: attr(title)
}

abbr[title]:hover::before {
  opacity: 1;
  top: -0.25rem
}

abbr[title] {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 0.15rem;
	text-decoration-line: underline;
	text-decoration-color: var(--blueberry-500);
	transition: text-decoration-color 300ms;
}

abbr[title]:hover {
    text-decoration-color: var(--blueberry-700)
}

article a:not([class]) {
  --link-indicator-color: var(--accent-color);
	color: var(--link-indicator-color);
	opacity: 1;
	border-radius: 0.25rem;
}

article a[target=_blank] {
  --link-indicator-color: var(--brand-color);
	padding-right: 1rem;
	background-image: radial-gradient(var(--link-indicator-color), var(--link-indicator-color) 75%, transparent 75%);
	background-size: 0.5rem 0.5rem;
	background-repeat: no-repeat;
	background-position: top 0.25rem right 0.25rem;
	position: relative;
}

article a[target="_blank"]:lang(tl)::after {
	content: 'Bubukas ito sa bagong tab';
	position: absolute;
	background-color: var(--fg-color);
	color: var(--bg-color);
	text-indent: 0;
	font-size: 0.8em;
	top: 0;
	left: 0;
	padding: 0.25em;
	line-height: 1.2;
	border-radius: 0.25rem;
	opacity: 0;
	pointer-events: none;
	transition: opacity 150ms, top 300ms;
}

article a[target="_blank"]:lang(tl):hover::after {
	opacity: 1;
	top: -2.5rem;
	transition: opacity 150ms 300ms, top 300ms 300ms;
}
