.byline {
  font-family: var(--ui-font);
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 1.5em auto;
  max-width: var(--content-width);

  .avatar {
    background-color: var(--slate-500);
    border: none;
    border-radius: 50%;
    color: transparent;
    float: left;
    height: 48px;
    margin-right: 0.5em;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 48px;

    &::before {
      content: "";
      border-radius: 50%;
      height: 100%;
      position: absolute;
      width: 100%;
      @include light-avatar-shadow;

      @media (prefers-color-scheme: dark) {
        @include dark-avatar-shadow;
      }
    }
  }

  .name {
    font-weight: 600;
    opacity: 0.8;
  }

  .description {
    opacity: 0.67;

    &::before {
      content: " | ";
    }
  }

  time,
  .read-time {
    opacity: 0.8;
    font-size: 0.9em;
    line-height: 1em;
  }

  .read-time::before {
    display: inline-block;
    margin: 0 0.25em;
    content: " · ";
  }
}

