body {
  transition: background-color 300ms, color 300ms;
}

@media (prefers-color-scheme: dark) {
  .invert-when-dark {
      filter: invert(1) hue-rotate(180deg);
  }
  
  .color {
    background-color: var(--black-700);
    border-color: var(--black-900);
  }
  
  .author .merge-with-header {
    color: var(--header-fg-color);
  }

  .author .posts-count {
	  color: var(--fg-color-emphasis);
  }

  .about body > header nav a {
  	color: var(--fg-color);
  }
  
  .about body > header nav a:hover svg path, body > header nav a:focus svg path {
	  fill: #000;
  }
  
  aside.links {
	  border-color: var(--black-900);
	  background-color: var(--black-900);
  }
  
  .authors-list li a {
	  background-color: var(--black-500);
	  border-color: var(--black-900);
	  
	  &:hover {
	    background-color: var(--black-900);
    }
  }
  
  header.error::before {
	  color: var(--strawberry-100) !important;
	  opacity: 1 !important;
  }
  
  .course-list li a {
	    background-color: var(--bg-color);
	    color: var(--fg-color-emphasis);
	    
	    &:hover {
	      box-shadow: 0 3px 15px #000a;
      }
      
      &:focus {
	      color: var(--header-fg-color);
      }
    }
    
    .glossary-entry-link {
	    border-color: #fff3;
	    
    }
}

.glossary-entry-link {
  background-color: var(--secondary-bg-color);
  border-color: #0003;

  .glossary-entry--popover {
      box-shadow: 0 10px 15px #0005;
    
     p {
        color: var(--header-fg-color);
      }
  }
}

@media screen and (max-width: 720px) {
  .author p.posts-count {
    color: var(--header-fg-color);
  }
}


