figure {
  font-size: 0; // fix whitespace causing percentage issues
  margin: 2rem auto;
  position: relative;
  text-align: center;

  article & p {
    max-width: 100%; // Fix Markdown wrapping images in `<p>` and setting max-width
  }

  * {
    margin: 0;
    max-width: 100%;
  }

  img,
  video {
    display: inline;
    transition: transform 250ms ease;
    vertical-align: middle;

    &:active,
    &:focus {
      outline: none;
      position: relative; // Fixes z-index issues on transform
      z-index: 1;
    }
  }

  .highlighter-rouge {
    font-size: 1rem;
    margin-bottom: 0;
  }

  &.embed {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 56.25%; // 16:9
    position: relative;
    width: var(--content-width);

    iframe {
      border: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  figcaption {
    font-family: var(--ui-font);
    font-size: 0.8rem;
    margin: 1em auto 4em;
    opacity: 0.67;
    text-align: center;
  }

  &.quarter {
    img,
    video {
      margin: 1%;
      max-width: 23%;
    }

    &:not(.no-zoom) img,
    &:not(.no-zoom) video {
      cursor: zoom-in;

      &:focus {
        cursor: zoom-out;
      }

      &:nth-child(4n+1):active,
      &:nth-child(4n+1):focus {
        transform: translateX(100%) scale(4);
      }

      &:nth-child(4n+2):active,
      &:nth-child(4n+2):focus {
        transform: translateX(50%) scale(4);
      }

      &:nth-child(4n+3):active,
      &:nth-child(4n+3):focus {
        transform: translateX(-50%) scale(4);
      }

      &:nth-child(4n+4):active,
      &:nth-child(4n+4):focus {
        transform: translateX(-100%) scale(4);
      }
    }
  }

  &.third {
    img,
    video {
      margin: 1%;
      max-width: 31.33%;
    }

    &:not(.no-zoom) img,
    &:not(.no-zoom) video {
      cursor: zoom-in;

      &:focus {
        cursor: zoom-out;
      }

      &:nth-child(3n+1):active,
      &:nth-child(3n+1):focus {
        transform: translateX(100%) scale(3);
      }

      &:nth-child(3n+2):active,
      &:nth-child(3n+2):focus {
        transform: translateX(0) scale(3);
      }

      &:nth-child(3n+3):active,
      &:nth-child(3n+3):focus {
        transform: translateX(-100%) scale(3);
      }
    }
  }

  &.half {
    img,
    video {
      margin: 1%;
      max-width: 48%;
    }

    &:not(.no-zoom) img,
    &:not(.no-zoom) video {
      cursor: zoom-in;

      &:focus {
        cursor: zoom-out;
      }

      &:nth-child(odd):active,
      &:nth-child(odd):focus {
        transform: translateX(50%) scale(2);
      }

      &:nth-child(even):active,
      &:nth-child(even):focus {
        transform: translateX(-50%) scale(2);
      }
    }
  }

  &.full-bleed {
    img,
    video {
      left: 50%;
      max-width: 100vw;
      position: relative;
      transform: translateX(-50%);
      width: 100vw;
    }
  }

  &.constrained {
    img,
    video {
      width: var(--content-width);
    }
  }

  &.circle {
    img,
    video {
      border-radius: 50%;
    }
  }

  &.on-screen {
    background-image: url('/images/notebook.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 0;
    margin: 0 auto;
    padding-bottom: 40%; // Keep aspect ratio
    position: relative;
    width: 100%;

    > * {
      border-radius: 3px;
      left: 22.25%;
      overflow: hidden;
      position: absolute;
      top: 2.2%;
      width: 55.5%;
    }
  }
}
