.glossary {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 0.5rem;
	max-width: var(--content-width);
	margin: auto;
	text-align: justify;
	
	dt, dd {
	  padding: 1rem;
	  margin: 0;
  }
  
  dt {
	  grid-column: 1/2;
	  grid-row: span 2;
	  font-size: 2rem;
	  font-family: var(--ui-font);
	  font-weight: bold;
	  text-align: center;
	  background-color: var(--banana-100);
	  color: var(--banana-900);
    
  }
  
  .pull-right {
    margin-left: auto;
  }
}

.glossary-entry-link {
	text-decoration: none;
	background-color: var(--silver-100);
	border: 1px solid var(--silver-300);
	display: inline-flex;
	text-indent: 0;
	gap: 0.25rem;
	padding: 0 0.15rem;
	border-radius: 0.25rem;
	color: var(--fg-color);
	line-height: 1.5;
	vertical-align: middle;
	position: relative;
	opacity: 1;
	
	svg {
	  margin: 0;
	  display: inline;
	}
	
	abbr {
	  text-decoration: none;
    }
  
    & > * { pointer-events: none; }
  
    .glossary-entry--popover {
	      position: fixed;
	      background-color: var(--banana-100);
	      opacity: 1;
	      border: 1px solid var(--banana-500);
	      border-radius: 0.25rem;
	      bottom: 1rem;
	      right: 1rem;
	      box-shadow: 0 3px 15px #0002;
	      transition: right 200ms, opacity 200ms, bottom 200ms;
	      max-width: var(--content-width);
	      width: 50vw;
	      z-index: 999;
      
      b {
	      padding: 0.25rem 0.5rem;
	      display: block;
	      background-color: var(--banana-300);
	      border-bottom: 1px solid var(--banana-500);
	      color: var(--banana-900);
      }
      
      p {
	      font-size: 1rem;
	      font-weight: normal;
	      color: var(--fg-color);
	      margin: 0;
	      padding: 0.5rem;
	      opacity: 1;
      }
      
      &::after {
	      background-color: transparent;
	      border: 10px solid transparent;
	      border-top-color: var(--silver-100);
	      bottom: -20px;
      }
    }
  
  &:not(:focus) .glossary-entry--popover {
	  right: -100%;
	  opacity: 0;
    transition: right 200ms, opacity 200ms, bottom 200ms;
  }
}

@media screen and (max-width: 720px) {
  .glossary-entry-link .glossary-entry--popover {
    width: 75vw;
  }
}

@media screen and (max-width: 360px) {
  .glossary-entry-link .glossary-entry--popover {
    width: calc(100vw - 2rem);
  }
  
  .glossary-entry-link:not(:focus) .glossary-entry--popover {
    right: 1rem;
    bottom: -100%;
    width: calc(100vw - 2rem);
  }
}
