:root {
  --page-width: 60rem;
  --content-width: 40rem;
}

body > section {
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0 1rem;
}

body > footer {
  background-color: var(--secondary-bg-color);
  display: grid;
  overflow-x: auto;
  clear: both;

  .copyright {
	  padding: 0.25rem 0.5rem;
	  background-color: var(--black-700);
	  color: var(--silver-500);
	  font-size: 0.8rem;
  }

  ul {
    display: inline-block;
    flex: 0 0 auto;
    margin: 0;
    margin-left: 2rem;
    padding: 0;
  }

  li {
    display: block;
    list-style: none;
    vertical-align: middle;
  }

  a {
    display: inline-block;
    opacity: 1;
    padding: 0 0.4rem;
    text-decoration: none;
  }

  a,
  p {
    color: var(--silver-500);
    font-family: var(--ui-font);
    font-size: 0.9rem;
    line-height: 1.5em;
    margin: 0;
  }
}

@media screen and (min-width: 720px) {
    footer .copyright {
        grid-column: span 2;
    }
}

.footer__section {
	padding: 1rem;
	padding-bottom: 2rem;
	background-color: var(--black-500);
	color: var(--silver-700);
}

.footer__section__title {
	margin: 0;
	font-size: 0.7rem;
	text-transform: uppercase;
	font-weight: normal;
	padding: 1rem;
	font-family: var(--ui-font);
}

article {
  margin-bottom: 4rem;

  & > address,
  dl,
  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-width);
  }

  svg,
  img,
  video {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  > table {
    font-family: var(--ui-font);
    margin: 2em auto;
    max-width: 100%;

    th,
    td {
      padding: 0 0.5rem;
    }
  }

  .thanks {
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0.75em -1.5em;

        a {
          margin: 0.75em 1.5em;
        }

        svg {
          color: var(--fg-color);
          height: 2em;
        }
    }
  }
}

hr {
  border: 0;
  margin: 3em auto;
  max-width: 50%;

  &::before {
    content: "...";
    display: block;
    font-weight: bold;
    letter-spacing: 1em;
    text-align: center;
  }
}

.license {
  display: block;
  font-family: var(--ui-font);
  font-size: 0.75rem;
  margin: 0 auto;
  max-width: var(--content-width);
  text-align: center;

  a,
  svg {
    color: var(--secondary-fg-color);
    vertical-align: middle;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    height: 1.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

.up-next {
  margin: 8rem auto 0;
}

aside.outdated {
  background: var(--warning-bg-color);
  bottom: 0;
  color: var(--warning-fg-color);
  display: block;
  font-family: var(--ui-font);
  font-size: 0.8rem;
  left: 50%;
  opacity: 0.8;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 1;
}

mark {
	background-color: var(--banana-100);
	border-radius: 0.25rem;
}

.page-title,
.about h1 {
	font-size: calc(2rem + 5vw);
	margin-top: 2rem;
}

.lead {
	opacity: 0.7;
	text-indent: 0;
	font-size: 2rem;
	line-height: 1.25;
}

.links {
	float: right;
	padding: 1rem;
	border: 1px solid #0003;
	border-radius: 0.25rem;
	background-image: linear-gradient(90deg);
}

.links h2 {
	margin: 0;
}

.authors-list {
	display: grid;
	list-style: none;
	padding: 1rem;
	gap: 1rem;
	
	a {
	  background-color: white;
    border: 1px solid var(--silver-300);
    border-radius: 0.25rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: calc(100px + 1rem) 1fr;
    opacity: 1;
    text-decoration: none;
    color: inherit;
    transition: background 300ms, box-shadow 300ms;
    
    &:hover {
	    background-color: var(--silver-100);
	    background-image: linear-gradient(#0000, #00000005);
	    box-shadow: 0 3px 5px #0003;
    }
    
    &:focus {
	    box-shadow: 0 3px 5px 5px #0003, 0 0 0 5px var(--blueberry-500);
    }
    
	  .author__image {
	    grid-row: span 4;
	    margin-right: 1rem;
	    width: 100px;
	    border-radius: inherit;
    }
    
    .author__name {
	    font-size: 1.5rem;
	    font-family: var(--ui-font);
	    letter-spacing: -1px;
	    margin: 0;
	    grid-row: span 2;
	    align-self: end;
    }
    
    .author__description {
	    margin: 0;
	    font-family: 'Zilla Slab', serif;
	    text-indent: 0;
	    grid-row: span 2;
	    align-self: start;
    }
  }
}

.author {

    section:not([class]) {
	    max-width: 1000px;
	    padding: 2rem 1rem;
	    padding-left: 150px;
	    
	    .featured {
	        display: grid;
	        grid-template-columns: 1fr;
	        
	        & > * { width: auto}
	        
	        header {
	          padding: 2rem 1rem
	        }

	        p {
	          font-family: 'Zilla Slab';
          }
          

        }

          @media screen and (min-width: 690px) {
            .featured {
              grid-template-columns: 1fr 2fr;
              
              header {
                align-self: center;
              }
              
              &:not(.with-image) > * {
	              grid-column: span 2;
              }
            }
          }
    }

    body > header {
    	border-bottom-color: var(--header-bg-color);
    }

    .merge-with-header {
        background-color: var(--banana-300);
        padding: 1rem;
        margin: 0;
        max-width: none;

      .wrapper {
        max-width: var(--page-width);
        margin: auto;
        display: grid;
        grid-template-columns: min-content 1fr;
        
        .author__image {
	        border-radius: 100%;
	        border: 5px solid var(--header-bg-color);
	        grid-row: span 2;
	        margin-right: 1rem;
        }

        h1 {
          font-size: calc(2rem + 1vw);
          margin: 0;
          align-self: end;
          
          .small-text {
	            font-size: 1rem;
              display: block;
              margin: 0;
              line-height: 1;
              text-transform: uppercase;
	            font-family: 'Zilla Slab', 'Inter', sans-serif;
	            font-weight: normal;
	            letter-spacing: 3px;
            }
        }

        .lead {
          font-family: 'Zilla Slab', 'Inter', sans-serif;
	        margin: 0;
	        font-size: 1rem;
	        grid-column: 2/3;
        }

        .posts-count {
	        grid-column: 1/2;
	        grid-row: 3/4;
	        writing-mode: vertical-rl;
	        font-family: 'Zilla Slab';
	        text-transform: uppercase;
	        font-size: 0.8rem;
	        letter-spacing: 2px;
	        margin-bottom: -80%;
	        margin-right: 1rem;
	        align-self: stretch;
	        justify-self: center;
	        
	        &::before {
	          content: '';
	          width: 1px;
	          height: 100px;
	          background-color: currentColor;
	          display: inline-block;
	          margin-bottom: 0.5rem;
          }
	        
	        b {
	          font-size: 1.2rem;
          }
        }

        h2 {
	        grid-column: 3/4;
	        grid-row: 1/2;
	        font-size: 1rem;
	        color: var(--banana-900);
	        margin: 0;
	        align-self: end;
        }

        .social-links {
	        grid-column: 3/4;
	        grid-row: 2/4;

	        &::marker {
	          font-size: 0.85em;
	          color: var(--banana-700);
          }

	        a {
	          color: var(--orange-700);
	          font-weight: bold;
	          text-decoration: none;
          }
        }
      }
    }
    
    
}

@media screen and (max-width: 720px) {
  section:not([class]) {
    padding-left: 1rem !important;
  }

  .author .merge-with-header
  {
    .wrapper {
      max-width: calc((var(--content-width) / 3) * 2.5);

      .author__image {
        width: 100px;
        height: auto;
      }
      
      .posts-count {
	      grid-row: 3/5;
	      margin: 0;
      }

      h2 {
        grid-column: 2/3;
        grid-row: 3/4;
      }

      .social-links {
        grid-column: 2/3;
        grid-row: 4/5;
      }
    }
  }
}

.notice {
	background-color: var(--blueberry-100);
	color: var(--header-fg-color);
	margin: 100px -1rem;
	max-width: none;
	position: relative;
	padding: 1rem 0;
	padding-left: 150px;
 
  ::selection {
	  background-color: var(--blueberry-300);
  }

	img {
	  width: 666px;
	  height: auto;
	  position: absolute;
	  left: -170px;
	  bottom: -170px;
  }
  
  .attribution {
	position: absolute;
	bottom: 1rem;
	font-size: 0.5em;
	line-height: 1;
	right: 1rem;
  }
  
  .btn {
	padding: 0.5rem 1rem;
	margin-left: auto;
	display: block;
	width: max-content;
}
}

.notice__wrapper {
	max-width: var(--content-width);
	width: 100%;
	margin: 1rem auto;
	padding: 1rem;
	position: relative;
	padding-left: 2rem;

	h2 {
	  margin-top: 0;
  }
}

@media screen and (min-width: 900px) {
  .notice {
	  border-radius: 0.25rem;
	  padding-left: 75px;
  }
}

.about article {
  dl,
  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: 1rem;
  }
}
