.lesson__video {
	display: grid;
	grid-template-columns: 16fr 9fr;
	margin: 2rem;
	max-width: 100%;
	gap: 1rem;
	padding: 0;
}

@media screen and (max-width: 992px) {
  .lesson__video {
    grid-template-columns: 1fr;
  }
}

.lesson__video-wrapper {
  display: grid;
}

.lesson__video-wrapper {
  position: relative;
}

.aspect-ratio-hack {
  display: block;
  width: 100%;
  height: auto;
}

.lesson__video-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lesson__video-details {
  width: 100%;
}

.lesson__title {
  margin: 0;
}

.lesson__video-actions {
  display: flex;
  flex-wrap: wrap;
}

.lesson__video-actions h3 {
  font-size: 1rem;
  font-weight: normal;
  font-weight: bold;
  width: 100%;
}

.lesson__video-actions {
  gap: 0.25rem;
}

.lesson__article article > p:first-of-type {
	font-size: 1.5em;
	text-indent: 0;
	opacity: 0.55;
	font-weight: lighter;
}

.lesson__article {
  h4 {
	  font-size: 1.5em;
	  opacity: 1;
  }

  h3 {
	  font-size: 2em;
	  opacity: 1;
  }

  article h2 {
	  font-size: calc(2rem + 2vw);
  }
}

.lesson__actions {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: var(--page-width);
  padding: 0 1rem;
  justify-items: center;
  align-items: center;
  clear: both;
  
  .btn:first-child {
    justify-self: self-start;
  }
  
  .btn:last-child {
    justify-self: self-end;
  }
  
}

@media screen and (max-width: 690px) {
    .lesson__actions {
        grid-template-columns: 1fr;
        
        .btn:last-child,
        .btn:first-child {
          justify-self: unset;
        }
    }
}

/* Inline #3 | http://0.0.0.0:4000/courses/ */

.course-list {
  margin: 2rem auto;
  max-width: var(--content-width);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
}

.course-list li a:not([class]) {
  background-color: var(--bg-color);
  color: var(--fg-color);
  text-decoration: none;
  display: block;
  border: 1px solid #0003;
  border-radius: 0.25rem;
  padding: 1rem;
  opacity: 1;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  .course-list li a:not([class]) {
    background-color: #0003;
  }
}

.course-list a[href]:hover {
  box-shadow: 0 3px 15px #0003;
}

.course-list a {
  transition: all 300ms;
}

.course-list a[href]:focus {
  background-color: var(--banana-100);
  border-color: var(--banana-500);
}

.course-list a[href]:hover:focus {
  box-shadow: 0 3px 15px var(--banana-300);
}


/* Inline #3 | http://0.0.0.0:4000/courses/ */

.course-list a strong {
  font-size: 1.5em;
  margin: 0;
  line-height: 1.25;
}

.course-list a p {
	margin: 0;
	line-height: 1.45;
	font-size: 0.9em;
}

.checklist li::marker {
  content: '✓';
  font-weight: bold;
  color: var(--blueberry-500);
}

.checklist li li::marker {
  color: var(--silver-500);
}

.checklist li {
  padding-left: 0.5rem;
}

.checklist li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.checklist li {
  padding-left: 2rem;
}

.checklist li::first-line {
}

.checklist li {
  padding-left: 1rem;
}

.checklist, .checklist ul, .checklist ol {
	padding-left: 4rem;
}

.lessons-list li {
  display: flex;
}

.lessons-list {
  counter-reset: lessonnum;
}

.lessons-list li {
  counter-increment: lessonnum;
  gap: 1rem;
  padding-bottom: 1rem;
}

.lessons-list li::before {
  content: counter(lessonnum);
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--banana-100);
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 3px solid var(--banana-500);
  box-shadow: inset 0 0 0 3px var(--bg-color);
  color: var(--header-fg-color);
  flex-shrink: 0
}

.lessons-list li::after {
  content: '';
  position: absolute;
  left: 1.5rem;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: var(--banana-500);
}

.lessons-list li {
  position: relative;
}

.lessons-list li::before {
  z-index: 1;
}

article .lessons-list li a {
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--fg-color);
  text-decoration: none;
  flex: 1;
  
  &:not([href]) {
    opacity: 0.5;
  }
}


.lessons-list a[href]:hover {
  background-color: #0003;
}

@media (prefers-color-scheme: dark) {
  .lessons-list a[href]:hover {
    background-color: #fff1;
  }
}

.lessons-list a {
  transition: border-color 300ms, color 300ms, background-color 300ms, box-shadow 300ms;
}

.lessons-list a[href]:focus {
	box-shadow: 0 0 0 5px var(--banana-300);
	background-color: var(--banana-100);
	outline: none;
	color: var(--header-fg-color);
}

.lessons-list li:last-child::after {
  content: none;
}

.lessons-list li::after {
  top: 1rem;
  bottom: 0;
}

.lessons-list li::before {
  margin-top: 1rem;
}

.lessons-list p {
  margin: 0;
  text-indent: 0;
}

i, em, dfn {
  font-family: var(--serif-font);
  font-size: 1.1em;
  color: var(--fg-color-emphasis);
}

b, strong {
  font-family: var(--serif-font);
  font-variation-settings: 'opsz' 30, 'wght' 700 !important;
}

.note {
  display: block;
  margin: 1rem;
  background-color: var(--blueberry-100);
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--blueberry-500);
}

.note strong {
  display: block;
  background-color: var(--blueberry-300);
  margin: -1rem;
  margin-bottom: 1rem;
  padding: 0.25rem 1rem;
  border-bottom: 1px solid var(--blueberry-500);
  text-indent: 0;
}


.note.note--warning {
	  background-color: var(--orange-100);
	  border-color: var(--orange-700);
	  
	  strong {
	    background-color: var(--orange-500);
	    border-color: var(--orange-700);
    }
  }

header.error {
  max-width: none;
  display: grid;
}


/* main.css | http://0.0.0.0:4000/css/main.css?v=2020-07-27%2021:29:51%20+0800 */

header.error {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img h1" "img p" "img .";
}

.error h1 {
  grid-area: txt;
}

.error p:first-child {
  grid-area: img;
}

.error h1 {
  grid-area: h1;
}

.error p {
  grid-area: p;
  line-height: 1.25;
}

header.error {
  grid-template-columns: 1fr;
  grid-template-areas: "img" "h1" "p";
}

header.error::before {
  content: '404';
  font-size: 35vw;
  font-weight: 900;
  color: var(--strawberry-500);
  opacity: 0.25;
  grid-area: img;
}

.error p:first-child {
  z-index: 2;
}

header.error {
  margin-top: 1rem;
}

.error p:first-child {
  margin-top: 20vh;
}

.error h1 {
  margin-top: 0;
}

.error p:first-child {
  text-align: center;
}

header.error::before {
  text-align: center;
}

.course-list a strong {
  margin-bottom: 0.5rem;
  display: block;
}

.badge {
	display: inline-block;
	font-size: 1rem;
	font-weight: normal;
	padding: 0.25rem 0.5rem;
	background-color: var(--secondary-bg-color);
	border-radius: 100px;
	border: 1px solid #0005;
	vertical-align: middle;
	line-height: 1;
	font-family: var(--copy-font);
	
	&.badge--success {
	  background-color: #69F0AE;
	  color: #1B5E20;
	  border-color: #1B5E20;
	}
}

@media screen and (max-width: 720px) {
.course--featured {
  grid-column: span 1;
}
}

.color::after {
	content: '';
	display: inline-block;
	background-color: var(--content-color);
	width: 0.75rem;
	height: 0.75rem;
	border: 1px solid #0003;
	border-radius: 3px;
	position: relative;
	bottom: -0.05rem;
	margin-left: 0.25rem;
	margin-right: 0.15rem;
}

.color {
	background-color: var(--silver-100);
	padding: 0.15rem;
	border-radius: 3px;
	border: 1px solid var(--silver-300);
}

::selection {
	background-color: var(--blueberry-100);
	color: var(--blueberry-900) !important;
}

.course-list .release-date {
    opacity: 0.8;
    line-height: 1;
    text-indent: 0;
    margin-bottom: 1rem;
    
    svg {
        display: inline;
        margin-right: 1ch;
        position: relative;
        top: 0.1rem;
    }
}

q {
	font-family: var(--serif-font);
	font-weight: normal;
}

aside.float {
  width: 100%;
	max-width: calc(((var(--content-width) / 3) * 2) - 4rem);
	float: left;
	background-image: linear-gradient(currentColor, currentColor);
	background-size: 1px 75%;
	background-repeat: no-repeat;
	padding-left: 0.5rem;
	padding-right: 2rem;
	margin-right: 2rem;
	text-align: right;
	background-position: right center;
	clear: both;
	font-size: 0.9em;
	opacity: 0.7;

	&.float--right {
	  float: right;
	  padding-right: 0.5rem;
	  margin-right: 0;
	  padding-left: 2rem;
	  margin-left: 2rem;
	  background-position: left center;
	  text-align: left;
  }

  .float__header {
	  font-size: 1em;
	  margin-top: 0;
  }
  
  p {
    text-indent: 0;
    line-height: 1.45;
    margin-bottom: 0;
  }
}

.footnotes {
  font-size: 0.9em;
  line-height: 1.45;
  clear: both;
  
  & > ol,
  & > ul {
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 50% 1px;
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 1rem;
  }
  
  p, ul, ol {
    font-size: 1em;
    margin-bottom: 1em;
  }
}

dl {
  dt {
    font-weight: bold;
  }
}

#markdown-toc {
	float: right;
	padding: 1rem;
	margin: 1rem 2rem;
	padding-left: 2em;
	border-radius: 0.25rem;
	background-color: var(--secondary-bg-color);
	border: 1px solid #0005;
	
	&::before {
	  content: 'Table of Contents';
	  font-weight: bold;
	  margin-left: -1rem;
	  font-size: 1.2em;
  }
	
	a{
	  text-decoration: none;
	}
	
	ol, ul {
	  margin-bottom: 0.5em;
	}
}

.license + .lesson__actions {
	margin-top: 4rem;
}
