.twitter-card {
  background-color: var(--silver-100);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0 3px 3px rgba(0, 0, 0, 0.22);
  border-radius: 0.5em;
  font-family: var(--ui-font);
  margin: 0 auto 2em;
  max-width: 50ch;
  padding: 1em;

  a {
    color: inherit;
    opacity: 1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    line-height: 1.5em;
    margin-bottom: 0.5em;

    a {
      color: #1da1f2;
    }
  }

  img,
  video {
    border-radius: 0.5em;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75em;

    .account {
      display: grid;

      .avatar {
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
        display: block;
        grid-row-end: span 2;
        height: 2.5em;
        margin-right: 0.5em;
      }

      p,
      strong {
        font-size: 0.8em;
        grid-column-start: 2;
        line-height: 1.25;
        margin: 0;
      }

      p {
        opacity: 0.75;
      }
    }

    .logo {
      height: 1.25em;
      margin: 0;
      text-align: right;
    }
  }

  footer {
    font-size: 0.75em;
    line-height: 1;
    margin-top: 1.5em;

    a {
      display: flex;
      justify-content: space-between;
      opacity: 0.6;
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--black-500);
  }
}
