<!DOCTYPE html>
<html lang="tl" dir="ltr" class="courses">
  {% include head.html %}
  <body class="{% if page.url == '/' %}home {% endif %}">
    {% unless page.type %}{% assign thisCourse = page %}{% endunless %}
    {% include course-banner.html course=thisCourse %}
    {% include nav.html %}
    <section>
      <article>
      {% if page.type == 'index' %}
        {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}
      {% endif %}

      {% if page.type != 'index' %}
      <h2>Course Description</h2>
      <p>{{ page.long_desc }}</p>

      {% unless page.is_done %}
      <p>Magsisimula ang course na ito sa <b><time datetime="{{ page.release_date }}">{{ page.release_date | date: "%B %-d, %Y" }}</time></b>.</p>
      {% endunless %}
      
      {% if page.is_done %}
      {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}

      <h2>Lessons</h2>
      <ol class="lessons-list">
      {% for course in site.data.courses %}
          {% if course.id == page.course_id %}
              {% for lesson in course.lessons %}
                  {% capture lessonPermalink %}/courses/{{ page.course_id }}/{{ lesson.id }}/{% endcapture %}
                  {% assign lessonPage = site.pages | where: "id", lesson.id %}
                  {% if lessonPage.size > 0 %}
                    {% assign lessonIsOpen = true %}
                  {% else %}
                    {% assign lessonIsOpen = false %}
                  {% endif %}
                  <li>
                    <a {% if lessonIsOpen %}href="{{ lessonPermalink }}"{% endif %}>
                      <strong>{{ lesson.title }}</strong>
                      <p>{{ lesson.summary }}</p>
                    </a>
                  </li>
              {% endfor %}
          {% endif %}
      {% endfor %}

      </ol>
      {% endif %}
      {% endif %}
      </article>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
