<!DOCTYPE html>
<html lang="tl" dir="ltr" class="lesson">
  {% include head.html %}
  <body class="{% if page.url == '/' %}home {% endif %}">
    {% assign courseData = site.data.courses | where: 'id', page.course %}
    {% assign coursePage = site.courses | where: 'course_id', page.course %}
    {% include course-banner.html course=coursePage isALesson=true %}
    {% include nav.html %}
    {% assign currentLesson = courseData[0].lessons | where: 'id', page.id %}
    {% assign lessonsCount = courseData[0].lessons | size | minus: 1 %}
    
    {% for i in (0..lessonsCount) %}
      {% if courseData[0].lessons[i].id == page.id %}
        {% assign nextLessonIndex = i | plus: 1 %}
        {% assign prevLessonIndex = i | minus: 1 %}
        
        {% if courseData[0].lessons[nextLessonIndex] and nextLessonIndex <= lessonsCount %}
          {% assign nextLessonID = courseData[0].lessons[nextLessonIndex].id %}
          {% assign nextLessonTitle = courseData[0].lessons[nextLessonIndex].title %}
        {% endif %}
        
        {% if courseData[0].lessons[prevLessonIndex] and prevLessonIndex >= 0 %}
          {% assign prevLessonID = courseData[0].lessons[prevLessonIndex].id %}
          {% assign prevLessonTitle = courseData[0].lessons[prevLessonIndex].title %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if page.video != nil %}
    <section class="lesson__video">
      <div class="lesson__video-wrapper">
        <img class="aspect-ratio-hack" src='data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACwAAAAAEAAJAAACCoSPqcvtD6OclBUAOw=='>
        <iframe class="lesson__video-embed" width="560" height="315" src="{{ page.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="lesson__video-details">
        <h2 class="lesson__title">{{ page.title }}</h2>
        <p>{{ page.summary }}</p>
        
        {% if page.has_downloads %}
        <div class="lesson__video-actions">
          <h3>
            <svg height='16' width='16' xmlns='http://www.w3.org/2000/svg'>
              <g color='currentColor' transform='translate(-1093 315)'>
                  <path d='M1101-303.03a.498.498 0 0 1-.375-.158l-2.5-3a.428.428 0 0 1-.09-.248c-.014-.266.188-.556.465-.564h1.5v-3.5c0-.262.238-.5.5-.5h1a.492.492 0 0 1 .094 0c.23.044.41.267.406.5v3.5h1.5c.37.011.606.524.375.813l-2.5 3a.497.497 0 0 1-.375.158z' fill='currentColor' overflow='visible' style='marker:none'/>
                  <path d='M1101-315a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm0 2a6 6 0 1 1 0 12 6 6 0 0 1 0-12z' fill='#666' overflow='visible' style='marker:none'/>
              </g>
          </svg>
            Download&hellip;
          </h3>
          {% if page.video != nil %}
          <a class="btn" href="{{ page.video }}" download>
            <svg height='16' width='16' xmlns='http://www.w3.org/2000/svg'>
                <g color='currentColor' transform='translate(-1113 267)'>
                    
                    <path d='M1114.75-266a.748.748 0 0 0-.75.75v13.5c0 .415.335.75.75.75h12.5c.416 0 .75-.335.75-.75v-13.5a.748.748 0 0 0-.75-.75zm.25 1h1v1h-1zm2.5 0h7c.277 0 .5.223.5.5v5c0 .277-.223.5-.5.5h-7a.499.499 0 0 1-.5-.5v-5c0-.277.223-.5.5-.5zm8.5 0h1v1h-1zm-11 2h1v1h-1zm11 0h1v1h-1zm-11 2h1v1h-1zm11 0h1v1h-1zm-11 2h1v1h-1zm11 0h1v1h-1zm-8.5 1h7c.277 0 .5.223.5.5v5c0 .277-.223.5-.5.5h-7a.499.499 0 0 1-.5-.5v-5c0-.277.223-.5.5-.5zm-2.5 1h1v1h-1zm11 0h1v1h-1zm-11 2h1v1h-1zm11 0h1v1h-1zm-11 2h1v1h-1zm11 0h1v1h-1z' fill='currentColor' overflow='visible' style='marker:none'/>
                </g>
            </svg>
            Video
          </a>
          {% endif %}
          {% if page.transcript != nil %}
          <a class="btn" download>Transcript</a>
          {% endif %}
          {% if page.code != nil %}
          <a class="btn" download href="{{ page.code }}">
              <svg height='16' width='16' xmlns='http://www.w3.org/2000/svg'>
                <g color='currentColor' transform='translate(-1193 247)'>
                    <path d='M1202.025-243l-2.91 8h.861l2.91-8zm-4.255 1.333l-3.77 2.222v.89l3.77 2.222v-.889l-2.932-1.776 2.932-1.78zm6.461 0v.889l2.932 1.78-2.932 1.776v.889l3.77-2.222v-.89z' fill='currentColor' overflow='visible' style='isolation:auto;mix-blend-mode:normal;marker:none'/>
                </g>
            </svg>
            Code Used
          </a>
          {% endif %}
          {% if page.article != nil %}
          <a class="btn" download>Article (<abbr title="Portable Document Format">PDF</abbr>)</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </section>
    {% endif %}
    {% include lesson-nav.html prevLessonID=prevLessonID nextLessonID=nextLessonID prevLessonTitle=prevLessonTitle nextLessonTitle=nextLessonTitle %}
    <section class="lesson__article">
      {% if page.video != nil %}<hr>{% endif %}
      <article>
      {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}
      </article>
    {% include license.html %}
    {% include lesson-nav.html prevLessonID=prevLessonID nextLessonID=nextLessonID prevLessonTitle=prevLessonTitle nextLessonTitle=nextLessonTitle %}
    </section>
    {% include social.html %}
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
