---
layout: default
---

{% include outdated.html post=page %}

<article>
  {% if page.hidden %}
    <aside class="embargo">
      {% if page.hidden != true %}
        <h1>Under embargo until {{ page.hidden | date: "%a, %b %e, %Y %H:%M" }} UTC!</h1>
        <p>Please respect the embargo by not sharing this URL. The content below may be subject to minor changes before the embargo is lifted.</p>
      {% else %}
        <h1>Note: This post is hidden!</h1>
        <p>Please respect any embargoes by not sharing this URL. The content below may be unfinished, inaccurate, or subject to change.</p>
      {% endif %}
      <hr />
    </aside>
  {% endif %}
  <header>
    <h1>{% include title.html title=page.title %}</h1>
    {% if page.description %}
      <h2>{% include title.html title=page.description %}</h2>
    {% endif %}

    {% include byline.html author=page.author date=page.date content=page.content link=true %}
    {% include tags.html %}
  </header>

  <section>
    {{ content }}
  </section>

  {% include thanks.html %}
</article>
 {%- capture post_date -%}{{ page.date | date: "%s" }}{%- endcapture -%}
  {%- if site.data.comments[post_date] -%}
    <h3>نظرات</h3><hr/>
    {%- assign comments = site.data.comments[post_date] | sort -%}
    {%- for comment in comments -%}
      <div class="comment-list">
	  <div class="comment-avatar">
		<img src="http://www.gravatar.com/avatar/{{ comment[1].email }}?d=mm&s=60">
	  </div>
	  <h4 class="comment-author-name">{{ comment[1].name }}</h4>
	  <small class="comment-timestamp"><time datetime="{{ comment[1].date | date: "%Y-%m-%d %H:%M:%S +0430" }}">{{ comment[1].date | date: "%Y-%m-%d" | jdate }} - ساعت {{ comment[1].date | date: '%s' | plus: 14400 | date: "%H:%M" | to_persian_number}}</time></small>
	  <p class="comment-content">{{ comment[1].msg | newline_to_br }}{{comment[1].message | newline_to_br }}</p>
       </div>
    {%- endfor -%}
    {%- endif -%}
  {%- if page.title != "پست اول" -%}
  <div class="comment-form">
   <form id="comment-form" method="post" action="{{ https://api.staticman.net/v2/entry/eduardoboucas/staticman/gh-pages/comments}}">
    <input type="hidden" name="options[slug]" value="{{ page.date | date: "%s" }}">
    <input name="options[redirect]" type="hidden" value="{{site.url}}{{ page.url }}?sendComment=true">
    <input name="fields[url]" id="hidden-mail" type="hidden">
    <input name="fields[agent]" id="hidden-useragent" type="hidden">
    <label class="form-label">نام</label>   
    <input type="text" required="required" name="fields[name]" placeholder="نام شما">
    <label class="form-label">ایمیل</label>
    <input type="email" required="required" name="fields[email]" placeholder="ایمیل شما" oninput="document.getElementById('hidden-mail').value = this.value.replace('@', '')">
    <label class="form-label">متن نظر</label>
    <textarea rows="4" required="required" name="fields[msg]"></textarea>
    <input type="submit" value="ارسال نظر" />
   </form>
  </div>
{%- endif -%}
{% include license.html %}
{% include social.html %}

<h2 class="up-next">Up Next</h2>

{% if page.next %}
  {% unless page.next.hidden %}
    {% include featured.html post=page.next %}
  {% endunless %}
{% endif %}

{% if page.previous %}
  {% unless page.previous.hidden %}
    {% include featured.html post=page.previous %}
  {% endunless %}
{% endif %}

